<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        table{
        width: 100%;
        border: 1px;
        border-style: solid;
    }
    table td{
        border: 0.5px;
        border-style: solid;
    }
    body{
        background-color:#F5F5F5;
            }
    form{
      margin-left: 10px;
      margin-top: 20px;
    }
</style>
<body>
    <h3>修改Author</h3>
    
    <div id="infobar" class="alert alert-success" role="alert" style="display: none"></div>
   
    <form class ="myForm" name ="myForm">
      <div class="form-group">
        <label for="Manuscript_Number"><span class="red-stars">**</span>Manuscript Number:</label>
        <input type="text" class="Manuscript_Number" id="Manuscript_Number" size="30" value="<%= Manuscript_Number %>"   readonly  unselectable="on">
      </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Order:</label>
          <input type="text" class="Order" id="Order" value="<%= Order %>" >
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Name:</label>
            <input type="text" class="Name" id="Name" value="<%= Name %>"   readonly  unselectable="on">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Name_Id:</label>
            <input type="text" id="Name_Id" name="Name_Id" value="<%= Name_Id %>"  readonly  unselectable="on">
          </div> 
          <div class="form-group">
            <label for="formGroupExampleInput2">Email:</label>
            <input type="text" class="Email" id="Email" value="<%= Email %>">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Affiliated Institution:</label>
            <input type="text" class="Affiliated_Institution" id="Affiliated_Institution" value="<%= Affiliated_Institution %>">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Country:</label>
            <input type="text" class="Country" id="Country" value="<%= Country %>">
          </div>
           <div class="form-group">
            <label for="formGroupExampleInput2">Corresponding:</label>
            <input type="text" class="Corresponding" id="Corresponding" value="<%= Corresponding %>">
          </div>

        <button type="submit" class="btn btn-info"  value="送出表單">修改Author</button>
    </form>

      <button type="submit" class="btn btn-primary" onclick="javascript:location='./Author'" style="margin-left: 10px; margin-top: 5px;">回到新增Author</button>

      <form action="/AuthorEdit1" method="POST">
        <h4 class="Manuscript_Title">請輸入查詢Manuscript_Number :</h4>
        <span id="NoName" style="color:red" value="<%=NoName%>"><%= NoName%></span>
        <div class="form2" id="TextBoxDiv2">
          <input type="text" class="Manuscript_Number" name="Manuscript_Number" size="30" placeholder="Manuscript_Number">
        </div>
        <div class="form2" id="TextBoxDiv2">
          <input type="text" class="Name" name="Name" size="30" placeholder="Name" style="margin-top: 10px;">
        </div>
        <button type="submit" class="btn btn-outline-success" style="margin-top: 10px;">送出</button>


      </form>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>


document.getElementById('myForm');

myForm.addEventListener('submit',evt=>{
  evt.preventDefault()

  const infobar = $('#infobar');
  const form = evt.target
  const body = JSON.stringify({
    Manuscript_Number: form.elements.Manuscript_Number.value,
    Order: form.elements.Order.value,
    Name: form.elements.Name.value,
    Name_Id:form.elements.Name_Id.value,
    Email: form.elements.Email.value,
    Affiliated_Institution: form.elements.Affiliated_Institution.value,
    Country: form.elements.Country.value,
    Corresponding: form.elements.Corresponding.value
  })
  const headers = {'Accept': 'application/json',"Content-type":"application/json; charser=UFT-8"}
  const container = document.getElementById('myForm')
    
//   console.log(Manuscript_Number)
  let isPass= true;
    if(form.elements.Manuscript_Number.value.length < 3){
      isPass = false;
      alert('需輸入Manuscript_Number')
    }
    if(isPass){
    fetch('/AuthorChangeEdit/:Manuscript_Number/:Name',{method:'post',body,headers})
    .then(response=>{
      if(response.statuse<200||response.status>=300)
      throw new Error(`Request Fail with status${response.stastatuse}`)
      console.log(487)
      console.log(response.statuse)
    })
    .then(json=>{
      console.log(json);
      if (json='undefined') {
        infobar.html('修改成功');
        infobar.removeClass('alert-danger').addClass('alert-success');
        setTimeout(() => {
            location.href = 'AuthorEdit1';
        }, 3000)
      } else {
        infobar.html('修改  失敗');
        infobar.removeClass('alert-success').addClass('alert-danger');
        }
        infobar.slideDown();
        setTimeout(() => {
          infobar.slideUp();
        }, 2500)
  })
    .catch(function(error){
      console.log(error);
    });
  }
});

      </script>

</body>