<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
        </header>
        <div class="weather-title">
          <h1>Manuscript_Number 查詢</h1>
        </div>
        <form action="/" method="POST">
        <h3 class="Manuscript_Title">請輸入查詢Manuscript_Number :</h3>
          <input type="text" name="Manuscript_Number" class="ghost-input" placeholder="Enter a Manuscript_Number">
        </form>
        
        <div class="result">
          <% {%>
            <h3 class="Manuscript_Title">Manuscript_Title : <%= Manuscript_Title %></h3>
            <h3 class="Manuscript_Title">Initial Date Submitted : <%= Initial_DateSubmitted %></h3> 
            <h3 class="Manuscript_Title">Status : <%= Status %></h3>    
            <h3 class="Manuscript_Title">Status Date : <%= Status_Date %></h3>    
            <h3 class="Manuscript_Title">Handing editor : <%= Handing_editor %></h3>
          <% } %>
        </div>
      </div>
</body>
</html>